[flake8]
ignore = D203, E704
exclude =
    .git,
    __pycache__,
    cascade/docs/source/conf.py,
    build,
    setup.py

per-file-ignores =
    __init__.py: F401,
    cascade/tests/__init__.py: F401,
    cascade/tests/*: F841 E402,
    cascade/utils/tests/*: F841 E402,
    cascade/docs/source/conf.py: E402

max-line-length = 100
