#python
__pycache__/
venv
# docs/build

#cascade
.cascade/

# Pycharm
.idea/

# Setuptools
dist/
build/
*.egg-info/

# Sphinx
docs/build

# VSCode
.vscode/

# Docs
cascade/docs/source/howtos/data
cascade/docs/source/howtos/trainer_repo
cascade/docs/source/howtos/repo
cascade/docs/source/tutorials/line