#python
__pycache__/
venv

#cascade
.cascade/

# Pycharm
.idea/

# Setuptools
dist/
build/
*.egg-info/

# Sphinx
docs/build

# VSCode
.vscode/

# Docs
cascade/docs/source/examples/data
cascade/docs/source/examples/trainer_repo
cascade/docs/source/tutorials/line